<div class="col-lg-4">
<div>
  <input placeholder="Put your track!"
        type="text"  class="form-control"
         id="query" ngModel  name="query"
         [(ngModel)]="query" required>

  <button (click)="searchQuery(query)">Raised button</button>
  <!--<md-autocomplete #auto="mdAutocomplete">-->
    <!--<md-option *ngFor="let state of filteredStates | async" [value]="state">-->
      <!--{{ state }}-->
    <!--</md-option>-->
  <!--</md-autocomplete>-->
    <div *ngFor='let track of tracks; let i=index'>
      <div *ngIf="i<6">
        <a  (click)="img_url=track['artwork_url']">
          <p>{{track['title']}}</p>
        </a>
        <a href="{{track['stream_url']}}" (click)="func"><p>{{track['stream_url']}}</p></a>
      </div>
    </div>
  <br>
  <a href="" class="button">
    <i class="material-icons ">forward</i>
  </a>
  <br>
  <a href="" class="button">  <i class="material-icons">view_list</i>
  </a>
  <a href="" class="button">  <i class="material-icons">subtitles</i>
  </a>
</div>
</div>
<div class="col-lg-4">

  <div class="img-responsive">
    <img  [src]='img_url' alt="Generic placeholder image" width="280" height="280">
  </div>

</div>
<div class="col-lg-4">
  <div>
    <h3>
      Resent Searches
    </h3>
    <div *ngFor='let lastQuery of queriesData; let i=index'>
      <div *ngIf="i<5"><p>{{lastQuery}}</p></div>

    </div>
  </div>

</div>
